In [1]:
import pandas as pd
import numpy as np

DADOS DO CSV

In [74]:
from mysqlx import Column

df = pd.read_csv('../win.csv')

df = df.iloc[:, :-2]

df

       2019.01.10 12:15  88050   88070   87995   88030
0      2019.01.10 12:20   88030   88030   87910   88000
1      2019.01.10 12:25   88000   88055   87970   88040
2      2019.01.10 12:30   88040   88195   88020   88090
3      2019.01.10 12:35   88095   88190   88075   88090
4      2019.01.10 12:40   88090   88180   88035   88120
...                 ...     ...     ...     ...     ...
99994  2022.10.13 16:35  114885  114905  114875  114900
99995  2022.10.13 16:40  114900  114905  114880  114905
99996  2022.10.13 16:45  114900  114935  114895  114920
99997  2022.10.13 16:50  114925  114925  114905  114920
99998  2022.10.13 16:55  114915  114920  114910  114910

[99999 rows x 5 columns]

EXTRAÇÃO DOS VALORES RELEVANTES

In [77]:
df.columns = ['data', 'abertura', 'maxima', 'minima', 'fechamento']


df

                   data  abertura  maxima  minima  fechamento
0      2019.01.10 12:20     88030   88030   87910       88000
1      2019.01.10 12:25     88000   88055   87970       88040
2      2019.01.10 12:30     88040   88195   88020       88090
3      2019.01.10 12:35     88095   88190   88075       88090
4      2019.01.10 12:40     88090   88180   88035       88120
...                 ...       ...     ...     ...         ...
99994  2022.10.13 16:35    114885  114905  114875      114900
99995  2022.10.13 16:40    114900  114905  114880      114905
99996  2022.10.13 16:45    114900  114935  114895      114920
99997  2022.10.13 16:50    114925  114925  114905      114920
99998  2022.10.13 16:55    114915  114920  114910      114910

[99999 rows x 5 columns]